
main{
  margin-left: 200px;
  width: 700px;
  height: auto;
  border: 2px solid #C3C3C3;
}
h1{
  margin: 20px;
  color: #3F48CC;
}
.logo img{
  width: 100px;
  height: 100px;

}
.heed {
   display: flex;
   justify-content: space-between;
  /* display: inline-flex; */

}
.logo_item {
    margin-left: 10px;
}
.logo {
  display: inline-flex;
  align-items: center;
  width: 400px;

}

.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}


.basket img{
  width: 50px;
  height: 50px;
}

.cena{
  /* border: 2px solid red; */
  margin-left: 10px;
  line-height: 1.5;
  font-weight: bold;
}

.shop_item{
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
}
.img_book img {
  width: 250px;
  height: 250px;
}
.img_book  {
    padding-top: 10px;
    width: 40%;
    height: 70%;
    margin: 10px;
    /* border: 2px solid red; */
    border: 2px solid #C3C3C3;
    border-radius: 10px;
}

.img_book:hover{
  margin: 10px;
  border: 2px solid #C3C3C3;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.18);
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

}
.link__a{
  display: flex;
  justify-content: center;
  border: 2px solid #7f7f82;
  border-radius: 10px;
  width: 50%;
}
.link__a:hover{
  background-color: #ED5079;

}
.link__a a{
  text-decoration: none;
  margin:  5px 0;
}
.link__a a:hover{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}


footer {
  height: 100px;
  background-color: #FAFBFC;
}

.footer_txt {
  margin-left: 10px;
  margin-top: 25px;
}
